footer {
    position: fixed;
    height: 50px;
    background-color: coral;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

ul{
    list-style: none;
}
li{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}